
<div class="card">
  <div class="card-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <%= form_for snippet do |f| %>
            <div class="inputs">
              <div>
                <%= f.text_field :step_num, placeholder: 'step_num', class: 'form-control floating-label' %>
              </div>        
                
              <div>
                <%= f.text_field :name, placeholder: 'name', class: 'form-control floating-label' %>
              </div>
                
              <div>
                <%= f.text_field :code_term, placeholder: ':code_term', class: 'form-control floating-label' %>
              </div>
                
              <div>
                <%= f.text_field :core_language, placeholder: 'core_language', class: 'form-control floating-label' %>
              </div>       
                 
              <div>
                <%= f.text_field :tool, placeholder: 'tool', class: 'form-control floating-label' %>
              </div>        
                
              <div>
                <%= f.text_area :description, placeholder: 'description', :cols => "10", :rows => "10", class: 'form-control floating-label' %>
              </div>
              <div>
                <%= f.text_area :snippet, placeholder: 'Snippet', :cols => "10", :rows => "10", class: 'form-control floating-label' %>
              </div>
            
            <%= f.submit 'Save Snippet' , class: 'btn btn-success' %>
          <% end%>
        </div>
      </div>
    </fieldset>
  </form>
</div>