<div class="container">
  <h1>Snippets and Steps</h1>
  <% @steps.each do |step| %>
    <div class="row row-centered">
      <div class="col-sm-12 col-centered panel">

          <div>
            <h3><%= step.name %></h3>
          </div>
          <div>
            <p><%= step.description %></p>
          </div>
          <div>
            <%= link_to 'Show', step_path(step.id), class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_step_path(step.id), class: 'btn btn-primary' %>
            <%= link_to 'Delete', step_path(step.id), method: :delete, class: "btn btn-warning" %>
          </div>

        </div>
      </div>
  <% end %>
</div>

<div class="container">
<h2>Snippets</h2>
<% @snippets.each do |snippet| %>
  <div class="row row-centered">
    <div class="col-sm-12 col-centered">
      
      <pre>
        <code class="language-javascript">
        <%= snippet.snippet %>
        </code>
      </pre>
      <%= link_to 'Show', snippet_path(snippet.id), class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_snippet_path(snippet.id), class: 'btn btn-primary' %>
      <%= link_to 'Delete', snippet_path(snippet.id), method: :delete, class: "btn btn-warning" %>
    </div>
  </div>
  <hr>
<% end %>
</div>