<!-- step and code example 1 -->
<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-12">
      <section class="panel notes">
        
        <!-- snippet title -->
        <h1 class="text-primary lead">Step Title: <%= @snippet.name %></h1>

        <!-- snippet tags -->
        <p>
          <span class="btn btn-flat btn-link btn-xs">
            <small>Language: <%= @snippet.core_language %></small>
          </span>
          <span class="btn btn-flat btn-link btn-flat btn-xs">
            <small>Tool: <%= @snippet.tool %></small>
          </span>
        </p>
        
        <!-- snippet description -->
        <div class="well infobox">
          <p class="text-muted">
          <%= @snippet.description %>
        </p>
        </div>

      </section>
    </div>

    <!-- type-along snippet -->
    <div class="col-sm-8">
      <section>
        <pre>
          <code>
            <div id="code-entry-id-"></div>
          </code>
        </pre>
      </section>
    </div>
    
    <!-- action area -->
    <div class="col-sm-4">
      <section>
        <form class="move">
          <fieldset>
            <!-- <legend>Controls</legend> -->

            <!-- timer next previous links -->
            <div class="row">
              
              <!-- start button -->
              <p id="start-snippet" class="btn btn-primary btn-raised btn-lg btn-block">Start</p>
              <!-- /start button -->
              
              <!-- timer next previous links -->
              <div class="btn-group btn-group-justified">
                <span id="snippet-timer" class="btn btn-default btn-flat btn-link btn-block">
                  <i class="icon mdi-action-alarm"></i> :35
                </span>
                <%= link_to 'Next', snippet_path(@snippet.id+1), class: 'btn btn-default btn-flat btn-link btn-block' %>
                <%= link_to 'Previous', '/snippets/' + (@snippet.id-1).to_s, class: 'btn btn-default btn-flat btn-link btn-block' %>
              </div>
            
            </div>
            <!-- /timer next previous links -->

            
            <!-- admin links to edit and delete -->
            <div class="row">
              <div class="col-sm-4">
                <%= link_to 'New', new_snippet_path, class: 'btn btn-primary btn-flat btn-block' %>
              </div>
              <div class="col-sm-4">
                <%= link_to 'Edit', edit_snippet_path(@snippet.id), class: 'btn btn-info btn-flat btn-block' %>
              </div>
              <div class="col-sm-4">
                <%= link_to 'Delete', snippet_path(@snippet.id), method: :delete, class: "btn btn-danger btn-flat btn-block" %>
              </div>
            </div>
            <!-- /admin links to edit and delete -->
          </fieldset>
        </form>
      </section>
    </div>
    <!-- /action area -->
    <hr>
  </div>
</div>
<!-- /fluid container-->



  <div class="row">
    <div class="col-sm-12 col-centered">
    <hr>
    <!-- code model -->
    <div class="col-sm-12">
      <section>
        <pre>
          <code class="language-javascript">
            <div id="code-highlighted"><%# @snippet.snippet %></div>
          </code>
        </pre>
      </section>
    </div>
  
    </div>
  </div>

