<%= form_for user do |f| %>
    <div class="inputs">
      <div>
        <%= f.text_field :email, placeholder: 'email', class: 'form-control' %>
      </div>
      <div>
        <%= f.text_field :email_confirmation, placeholder: 'email_confirmation', class: 'form-control' %>
      </div>
    </div>
    
    <div class="inputs">
      <div>
        <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
      </div>
      <div>
        <%= f.password_field :password_confirmation, placeholder: 'confirm password', class: 'form-control' %>
      </div>
    </div>
   
    <%= f.submit 'signup', class: "btn btn-primary btn-flat" %>

  
<% end %>
<!-- <div class="inputs">
  <input type="text" class="form-control" placeholder="label">
  <input type="text" class="form-control floating-label" placeholder="floating label"> -->