<!DOCTYPE html>
<html>
<head>
  <title>CodeRote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script language="javascript" type="text/javascript">
  editAreaLoader.init({
    id : "snippet_snippet"   // textarea id
    ,syntax: "ruby"      // syntax to be uses for highgliting
    ,start_highlight: true    // to display with highlight mode on start-up
  });
  </script>
</head>
<body>
<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'layouts/navbar' %>
    
    <div class="row centered">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </div>
    
  </div>
</div>
  <%= javascript_include_tag 'prism/prism.js' %>
  <%= javascript_include_tag 'prism/components/prism-javascript.min.js' %>

  <script>
      $(document).ready(function() {
          $.material.init();
      });
  </script>
</body>
</html>
