<!DOCTYPE html>
<html>
<head>
  <title>CodeRote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'layouts/navbar' %>
    
    <div class="row centered">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </div>
    
  </div>
</div>


</body>
</html>
